.ProjectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0a2142;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
.TopMarginDivProjects {
    background-color: #091526;
    width: 100vw;
    height: 2rem;
}