.MainContainer{
    background-color: #2D3748;
    text-align: left;
    margin: 1rem 20rem;
}

.HeaderLogoCompanyPositionTimePeriod{
    display: flex;
    flex-direction: row;
}

.LogoCompanyPosition{
    display: flex;
    flex-direction: row;
}


.TimePeriod {
    margin-left: auto; /* Push TimePeriod to the right */
    padding: 1rem;
}

.BulletPoints{
    padding: 0rem 1rem;
}

.LucidImage {
    height: 5rem;
    width: auto;
    padding: 1rem;
}

.Skills {
    display: flex;
    flex-direction: row;
}