.ExperienceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #091526;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
.TopMarginDivExperience {
    background-color: #0d1117;
    height: 2rem;
}